<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file enables and configures the Creative Exchange feature.

The Creative Exchange process is designed to facilitate the different teams that work together to create a website. For example, the front-end developers that are working on the theme or "skin" for the website should be able to work in parallel with the other teams and keep using their favourite tools.

You can export the site for the front-end developers as a ZIP file of the whole site with all the wireframes and content included, so they can skin it. 
This ZIP file is then sent back to be imported again, and the process can continue. We recommend that this is done in iterations as part of an agile methodology, so that your customers get the best possible website.

To disable this file, change its extension to ".disabled".

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mediaRequestHandler>
        <processor patch:before="*[@type='Sitecore.XA.Foundation.Theming.Pipelines.MediaRequestHandler.WireframeImages, Sitecore.XA.Foundation.Theming']"
            type="Sitecore.XA.Feature.CreativeExchange.Pipelines.MediaRequestHandler.SkipWireframeImages, Sitecore.XA.Feature.CreativeExchange" resolve="true" />
      </mediaRequestHandler>
      <decorateRendering>
        <processor type="Sitecore.XA.Feature.CreativeExchange.Pipelines.Export.DecorateRendering.AddCustomClass, Sitecore.XA.Feature.CreativeExchange" patch:after="*[100]" resolve="true" />
      </decorateRendering>
      <decoratePage>
        <processor type="Sitecore.XA.Feature.CreativeExchange.Pipelines.Export.DecoratePage.AddCustomClass, Sitecore.XA.Feature.CreativeExchange" patch:after="*[100]" resolve="true" />
      </decoratePage>
    </pipelines>
  </sitecore>
</configuration>
