<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Overlays feature.

This feature is used to display pages, images and videos by filling the screen, and dimming out the rest of the web page.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAccelerator>
        <renderingVariants>
            <allowedTemplates>
                <template name="Overlay Content">{6BF19F1C-DA51-477F-B7D9-B49B41FD1578}</template>
            </allowedTemplates>
        </renderingVariants>
    </experienceAccelerator>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.DeviceSimulatorResolver, Sitecore.Kernel']" type="Sitecore.XA.Feature.Overlays.Pipelines.HttpRequestBegin.OverlayTypeResolver, Sitecore.XA.Feature.Overlays" resolve="true" />
      </httpRequestBegin>
      <assetService>
          <processor type="Sitecore.XA.Feature.Overlays.Pipelines.AssetService.AddTheme, Sitecore.XA.Feature.Overlays" resolve="true" />
      </assetService>
    </pipelines>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" >
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <exclude hint="list:AddExcludedTemplate">
              <OverlayContent>{6BF19F1C-DA51-477F-B7D9-B49B41FD1578}</OverlayContent>
            </exclude>
          </documentOptions>
        </defaultSolrIndexConfiguration>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <exclude hint="list:AddExcludedTemplate">
              <OverlayContent>{6BF19F1C-DA51-477F-B7D9-B49B41FD1578}</OverlayContent>
            </exclude>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>

