<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Publication foundation module.

This foundation module extends the standard publishing process by providing an option to publish referenced items.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
        <request name="ExperienceEditor.XA.GetItemAncestorsPublishingStatus" type="Sitecore.XA.Foundation.Publication.Requests.GetItemAncestorsPublishingStatus, Sitecore.XA.Foundation.Publication"/>
    </sitecore.experienceeditor.speak.requests>
    <pipelines>
      <publishItem>
        <processor patch:before="*[@type='Sitecore.Publishing.Pipelines.PublishItem.RaiseProcessingEvent, Sitecore.Kernel']" type="Sitecore.XA.Foundation.Publication.Pipelines.PublishItem.CheckMediaItemPath, Sitecore.XA.Foundation.Publication" resolve="true" />
        <processor patch:before="*[1]" type="Sitecore.XA.Foundation.Publication.Pipelines.PublishItem.CheckSharedItem, Sitecore.XA.Foundation.Publication" resolve="true" />
      </publishItem>
      <publishEndResultBatch>
        <processor type="Sitecore.XA.Foundation.Publication.Pipelines.PublishEndResultBatch.CheckMediaItemPath, Sitecore.XA.Foundation.Publication" resolve="true" />
      </publishEndResultBatch>
      <getItemReferences>
        <processor patch:after="*[@type='Sitecore.Publishing.Pipelines.GetItemReferences.AddItemAliasReferences, Sitecore.Kernel']" type="Sitecore.XA.Foundation.Publication.Pipelines.GetItemReferences.AddReferencedItemsToQueue, Sitecore.XA.Foundation.Publication" resolve="true" />
      </getItemReferences>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Foundation.Publication.Services.IPublishingTargetService, Sitecore.XA.Foundation.Publication" implementationType="Sitecore.XA.Foundation.Publication.Services.PublishingTargetService, Sitecore.XA.Foundation.Publication" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>