<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Content Validation foundation module.

The main purpose of this foundation module is to validate the uniqueness of item names.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:added">
        <handler patch:after="*[@type='Sitecore.Data.Fields.ItemEventHandler, Sitecore.Kernel']" type="Sitecore.XA.Foundation.ContentValidation.EventHandlers.SeoUrlHelper, Sitecore.XA.Foundation.ContentValidation" method="OnItemAdded"/>
      </event>
      <event name="item:renamed">
        <handler type="Sitecore.XA.Foundation.ContentValidation.EventHandlers.SeoUrlHelper, Sitecore.XA.Foundation.ContentValidation" method="OnItemRenamed"/>
      </event>
      <event name="item:copied">
        <handler patch:after="*[@type='Sitecore.Tasks.ItemEventHandler, Sitecore.Kernel']" type="Sitecore.XA.Foundation.ContentValidation.EventHandlers.SeoUrlHelper, Sitecore.XA.Foundation.ContentValidation" method="OnItemCopied"/>
      </event>
    </events>
    <processors>
      <uiDuplicateItem>
        <processor patch:instead="*[@method='GetName']"
            mode="on" type="Sitecore.XA.Foundation.ContentValidation.Pipelines.DuplicateItem.DuplicateItem, Sitecore.XA.Foundation.ContentValidation" method="GetName" resolve="true" />
      </uiDuplicateItem>
      <getContentEditorWarnings>
        <processor patch:after="*[@type='Sitecore.Pipelines.GetContentEditorWarnings.VersionPublishingRestricted, Sitecore.Kernel']" type="Sitecore.XA.Foundation.ContentValidation.Pipelines.GetContentEditorWarnings.PublishingStatusWarning, Sitecore.XA.Foundation.ContentValidation" resolve="true" >
          <sourceDatabase>master</sourceDatabase>
        </processor>
      </getContentEditorWarnings>
    </processors>
  </sitecore>
</configuration>