<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Rendering Variants foundation module.

Rendering Variants are variations of components. When a user places a component on a page they are able to select different ways that the component can appear and the content that it displays.
This can vary from project to project. Super users can create their own Rendering Variants.
This removes the need for building new renderings that are only slight different than the existing renderings.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <experienceAccelerator>
            <!-- List of composite templates.
	This list is used to resolving the referenced elements (for example, during publishing.)  -->
            <compositeTemplates>
                <template name="Accordion Item">{A6DDAC75-7D24-4BDB-B3F6-5F47FBB21379}</template>
                <template name="Carousel Slide">{142E5FC1-EC62-4540-BAD9-CD88F337CD2E}</template>
                <template name="Overlay Content">{6BF19F1C-DA51-477F-B7D9-B49B41FD1578}</template>
                <template name="Tab Item">{B27059E6-1190-4273-92A0-D22AF3C440B4}</template>
            </compositeTemplates>
        </experienceAccelerator>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.XA.Foundation.RenderingVariants.EventHandlers.RenderingVariantCacheClearer, Sitecore.XA.Foundation.RenderingVariants" method="OnPublishEnd" />
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.XA.Foundation.RenderingVariants.EventHandlers.RenderingVariantCacheClearer, Sitecore.XA.Foundation.RenderingVariants" method="OnPublishEndRemote" />
            </event>
            <event name="item:saved">
                <handler type="Sitecore.XA.Foundation.RenderingVariants.EventHandlers.RenderingVariantCacheClearer, Sitecore.XA.Foundation.RenderingVariants" method="OnItemSaved" />
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.XA.Foundation.RenderingVariants.EventHandlers.RenderingVariantCacheClearer, Sitecore.XA.Foundation.RenderingVariants" method="OnItemSavedRemote" />
            </event>
            <event name="item:deleting">
                <handler type="Sitecore.XA.Foundation.RenderingVariants.EventHandlers.RenderingVariantCacheClearer, Sitecore.XA.Foundation.RenderingVariants" method="OnItemDeleting" />
            </event>
        </events>
        <pipelines>
            <parseVariantFields>
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseField, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseDate, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseSection, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseEditFrame, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseHtmlTag, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseTemplate, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseText, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseModel, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseToken, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseReference, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParsePlaceholder, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseQuery, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.ParseVariantFields.ParseResponsiveImage, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
            </parseVariantFields>
            <renderVariantField>
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderVariantField, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.JSON.RenderVariantFieldAsJson, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderDate, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.JSON.RenderVariantDateAsJson, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderSection, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.JSON.RenderSectionAsJson, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderEditFrame, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderHtmlTag, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderText, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderModel, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.JSON.RenderTextAsJson, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderToken, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.JSON.RenderTokenAsJson, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderTemplate, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.JSON.RenderTemplateAsJson, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderReference, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.JSON.RenderReferenceAsJson, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderPlaceholder, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderQuery, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.JSON.RenderQueryAsJson, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
                <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderResponsiveImage, Sitecore.XA.Foundation.RenderingVariants" resolve="true" />
            </renderVariantField>
        </pipelines>
        <services>
            <register serviceType="Sitecore.XA.Foundation.RenderingVariants.Services.IKeyValueSourceFactory`1[[System.Object]], Sitecore.XA.Foundation.RenderingVariants" implementationType="Sitecore.XA.Foundation.RenderingVariants.Services.ObjectPropertyKeyValueSourceFactory, Sitecore.XA.Foundation.RenderingVariants" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.RenderingVariants.Services.IKeyValueSourceFactory`1[[Sitecore.Data.Items.Item, Sitecore.Kernel]], Sitecore.XA.Foundation.RenderingVariants" implementationType="Sitecore.XA.Foundation.RenderingVariants.Services.ItemFieldNameKeyValueSourceFactory, Sitecore.XA.Foundation.RenderingVariants" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.RenderingVariants.Services.IPatternProcessor, Sitecore.XA.Foundation.RenderingVariants" implementationType="Sitecore.XA.Foundation.RenderingVariants.Services.PatternProcessor, Sitecore.XA.Foundation.RenderingVariants" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.RenderingVariants.Services.IPaginationService, Sitecore.XA.Foundation.RenderingVariants" implementationType="Sitecore.XA.Foundation.RenderingVariants.Services.PaginationService, Sitecore.XA.Foundation.RenderingVariants" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.RenderingVariants.Repositories.IVariantsRepository, Sitecore.XA.Foundation.RenderingVariants" implementationType="Sitecore.XA.Foundation.RenderingVariants.Repositories.VariantsRepository, Sitecore.XA.Foundation.RenderingVariants" lifetime="Transient"/>
            <register serviceType="Sitecore.XA.Foundation.RenderingVariants.Repositories.IListRepository, Sitecore.XA.Foundation.RenderingVariants" implementationType="Sitecore.XA.Foundation.RenderingVariants.Repositories.ListRepository, Sitecore.XA.Foundation.RenderingVariants" lifetime="Transient"/>
            <register serviceType="Sitecore.XA.Foundation.RenderingVariants.IPaginableConfiguration, Sitecore.XA.Foundation.RenderingVariants" implementationType="Sitecore.XA.Foundation.RenderingVariants.PaginableConfiguration, Sitecore.XA.Foundation.RenderingVariants" lifetime="Transient"/>
            <register serviceType="Sitecore.XA.Foundation.RenderingVariants.Services.IPropertyExtractor, Sitecore.XA.Foundation.RenderingVariants" implementationType="Sitecore.XA.Foundation.RenderingVariants.Services.PropertyExtractor, Sitecore.XA.Foundation.RenderingVariants" lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>

