<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the MVC foundation module. 

This foundation module contains the main SXA layout, a base controller, repositories, and some wrappers. 

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="Sitecore.XA.Foundation.Mvc.NonSxaContextPartialViewSettingName" value="~/Views/NonSxaContext/NonSxaContext.cshtml" />
      </settings>
    <experienceAccelerator>
      <mvc>
        <!-- List of placeholders which should be hidden. -->
        <hiddenPlaceholders>
          <layout id="{BCFC7537-EFF4-434C-96F5-BF4F55FD175B}">
            <placeholder name="head"/>
            <placeholder name="body-bottom"/>
            <placeholder name="body-top"/>
          </layout>
        </hiddenPlaceholders>
      </mvc>
    </experienceAccelerator>
    <pipelines>
      <getChromeData>
        <processor patch:after="*[@type='Sitecore.XA.Foundation.Editing.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.XA.Foundation.Editing']" type="Sitecore.XA.Foundation.Mvc.Pipelines.GetChromeData.DisableHiddenPlaceholders, Sitecore.XA.Foundation.Mvc" resolve="true" />
      </getChromeData>
      <decoratePage>
        <processor type="Sitecore.XA.Foundation.Mvc.Pipelines.DecoratePage.AddBodyClasses, Sitecore.XA.Foundation.Mvc" resolve="true" />
        <processor type="Sitecore.XA.Foundation.Mvc.Pipelines.DecoratePage.AddBodyId, Sitecore.XA.Foundation.Mvc" resolve="true" />
      </decoratePage>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Foundation.SitecoreExtensions.Interfaces.IRendering, Sitecore.XA.Foundation.SitecoreExtensions" implementationType="Sitecore.XA.Foundation.Mvc.Wrappers.Rendering, Sitecore.XA.Foundation.Mvc" lifetime="Transient"/>
        <register serviceType="Sitecore.XA.Foundation.SitecoreExtensions.Interfaces.IPageContext, Sitecore.XA.Foundation.SitecoreExtensions" implementationType="Sitecore.XA.Foundation.Mvc.Wrappers.PageContext, Sitecore.XA.Foundation.Mvc" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.Mvc.Repositories.Base.IModelRepository, Sitecore.XA.Foundation.Mvc" implementationType="Sitecore.XA.Foundation.Mvc.Repositories.Base.ModelRepository, Sitecore.XA.Foundation.Mvc" lifetime="Transient"/>
        <register serviceType="Sitecore.XA.Foundation.Mvc.Services.IRenderingViewResolver, Sitecore.XA.Foundation.Mvc" implementationType="Sitecore.XA.Foundation.Mvc.Services.RenderingViewResolver, Sitecore.XA.Foundation.Mvc" lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>
