<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the MVC foundation module. 

This foundation module contains the main SXA layout, a base controller, repositories, and some wrappers. 

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAccelerator>
      <grid>
        <excludedComponentSettingFields>
          <fieldID desc="RenderingIdentifier">{23066E86-8B9E-4AAA-984A-3337135354CC}</fieldID>
        </excludedComponentSettingFields>
      </grid>
    </experienceAccelerator>
    <pipelines>
      <decorateRendering>
        <processor type="Sitecore.XA.Foundation.MarkupDecorator.Pipelines.DecorateRendering.AddRenderingIdentifier, Sitecore.XA.Foundation.MarkupDecorator" resolve="true"  />
      </decorateRendering>
    </pipelines>
  </sitecore>
</configuration>
