<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Content Architecture foundation module.

This foundation module is used to upgrade to the newest version of SXA. It also informs you about old content and architecture versions.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getLookupSourceItems>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"
                   type="Sitecore.XA.Foundation.TokenResolution.Pipelines.GetLookupSourceItems.ResolveTokenRelativeQuerySource, Sitecore.XA.Foundation.TokenResolution" resolve="true" />
      </getLookupSourceItems>
      <resolveTokens>
        <processor type="Sitecore.XA.Foundation.TokenResolution.Pipelines.ResolveTokens.CurrentTemplateToken, Sitecore.XA.Foundation.TokenResolution" resolve="true" />
        <processor type="Sitecore.XA.Foundation.TokenResolution.Pipelines.ResolveTokens.EscapeQueryTokens, Sitecore.XA.Foundation.TokenResolution" resolve="true" />
      </resolveTokens>
    </pipelines>
  </sitecore>
</configuration>

