<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Content Architecture foundation module.

Functionality that is used to support user in migration to newest version of SXA. It also informs about old contant or architecture versions.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.XA.Foundation.Upgrade.Pipelines.GetContentEditorWarnings.ContentVersionWarning, Sitecore.XA.Foundation.Upgrade" resolve="true" />
        <processor type="Sitecore.XA.Foundation.Upgrade.Pipelines.GetContentEditorWarnings.IncompatibleSxaVersionWarning, Sitecore.XA.Foundation.Upgrade" resolve="true" />
      </getContentEditorWarnings>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Foundation.Upgrade.Services.IUpgradeService, Sitecore.XA.Foundation.Upgrade" implementationType="Sitecore.XA.Foundation.Upgrade.Services.UpgradeService, Sitecore.XA.Foundation.Upgrade" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>