<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Local Datasources foundation module.

This foundation module enables you to define rendering data sources directly under an item instead of having them in the common/shared repository.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- DATASOURCE DIALOG ROOT
                Path to the root item under which all the renderings are stored.
            -->
            <setting name="XA.Foundation.DatasourceResolution.DatasourceDialogRoot" value="/sitecore/layout/renderings"/>
        </settings>
        <experienceAccelerator>
            <placeholderSettings>
                <selectablePlaceholderSettingRootTemplates>
                    <templateID desc="Page Data">{1C82E550-EBCD-4E5D-8ABD-D50D0809541E}</templateID>
                </selectablePlaceholderSettingRootTemplates>
            </placeholderSettings>
            <datasourceCopyCommand>
                <excludedTemplates>
                    <template name="VirtualPageStandardValue">{1A2CCAE9-578F-4603-9A0C-8F259F3A756B}</template>
                    <template name="VirtualPageDataStandardValue">{9700DC24-8969-4638-ACC3-34D54335829E}</template>
                </excludedTemplates>
            </datasourceCopyCommand>
        </experienceAccelerator>        
        <events>
            <event name="item:creating">
                <handler type="Sitecore.XA.Foundation.LocalDatasources.EventHandlers.LockVirtualItems, Sitecore.XA.Foundation.LocalDatasources" method="OnItemCreating" />
            </event>
        </events>
        <pipelines>
            <initialize>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.Initialize.InitializeRouting, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </initialize>
            <refreshHttpRoutes>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.RefreshHttpRoutes.GetDatasourceRoutes, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </refreshHttpRoutes>
            <getLookupSourceItems>
                <processor patch:instead="*[@type='Sitecore.Buckets.FieldTypes.CustomDataSource, Sitecore.Buckets']"
                           type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetLookupSourceItems.CodeDatasource, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </getLookupSourceItems>
            <copyGlobalDatasource>
                 <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CopyGlobalDatasource.ValidateDatasourceLocation, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                 <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CopyGlobalDatasource.ValidateDatasourceTemplate, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                 <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CopyGlobalDatasource.GetDatasourceName, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                 <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CopyGlobalDatasource.GetGlobalDatasourceBehavior, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                 <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CopyGlobalDatasource.ConfirmationPrompt, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                 <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CopyGlobalDatasource.CopyGlobalDatasource, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                 <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CopyGlobalDatasource.ResolveDatasourcePath, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </copyGlobalDatasource>
            <createAutoDatasource>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.ResolveContextItem, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.ValidateContextItem, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.GetBehaviour, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.PromptForName, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.GetParent, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.ValidateParent, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.AutogenerateDatasourceName, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.CreateDatasourceItem, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.ValidateDatasourceItem, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.GetDatasourcePath, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </createAutoDatasource>
            <resolveRenderingDatasource>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.ResolveRenderingDatasource.QueryableDatasource, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.ResolveRenderingDatasource.DatasourceFromField, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.ResolveRenderingDatasource.CodeDatasource, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.ResolveRenderingDatasource.PageRelativeDatasource, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </resolveRenderingDatasource>
            <mvc.customizeRendering>
                <processor patch:after="*[@type='Sitecore.ContentTesting.Mvc.Pipelines.Response.CustomizeRendering.SelectVariation, Sitecore.ContentTesting.Mvc']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CustomizeRendering.ResolveRenderingDatasource, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </mvc.customizeRendering>
            <mvc.getXmlBasedLayoutDefinition>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetXmlBasedLayoutDefinition.ResolveLocalDatasources, Sitecore.XA.Foundation.LocalDatasources" patch:before="*[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.GetXmlBasedLayoutDefinition.SetLayoutContext, Sitecore.Mvc.ExperienceEditor']" resolve="true" />
            </mvc.getXmlBasedLayoutDefinition>
            <mvc.renderRendering>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.RenderRendering.ResolveRenderingDatasource, Sitecore.XA.Foundation.LocalDatasources" patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.EnterRenderingContext, Sitecore.Mvc']" resolve="true" />
            </mvc.renderRendering>
            <getRenderingDatasource>
                <processor patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDialogUrl, Sitecore.Kernel']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.AddPageDataFolder, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDialogUrl, Sitecore.Kernel']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.AddPageDataSource, Sitecore.XA.Foundation.LocalDatasources" resolve="true"/>
                <processor patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDialogUrl, Sitecore.Kernel']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.AddAdditionalTemplates, Sitecore.XA.Foundation.LocalDatasources" resolve="true"/>
                <processor patch:after="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.AddDatasourceLocations, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor patch:instead="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor patch:after="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceTemplate, Sitecore.Kernel']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.GetDatasourceTemplate, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
                <processor patch:after="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDialogUrl, Sitecore.Kernel']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.ExtendGetDatasourceDialogUrl, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </getRenderingDatasource>
            <getChromeData>
                <processor patch:after="*[@type='Sitecore.Pipelines.GetChromeData.GetRenderingChromeData, Sitecore.Kernel']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetChromeData.ProcessMorphButton, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </getChromeData>
            <getControlEditability>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetControlEditability.RenderingHasLocalContent, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </getControlEditability>
            <getPlaceholderSetting>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetPlaceholderSetting.AddPageDataFolder, Sitecore.XA.Foundation.LocalDatasources" resolve="true" />
            </getPlaceholderSetting>
            <getDataSourceNodeCommands>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetDatasourceNodeCommands.CreateCommand, Sitecore.XA.Foundation.LocalDatasources"/>
                <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetDatasourceNodeCommands.CopyCommand, Sitecore.XA.Foundation.LocalDatasources"/>
            </getDataSourceNodeCommands>
        </pipelines>
        <services>
            <register serviceType="Sitecore.XA.Foundation.LocalDatasources.RenderingDatasources.IDatasourceSettingsProvider, Sitecore.XA.Foundation.LocalDatasources" implementationType="Sitecore.XA.Foundation.LocalDatasources.RenderingDatasources.DatasourceSettingsProvider, Sitecore.XA.Foundation.LocalDatasources" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.LocalDatasources.Services.ICodeDatasourceService, Sitecore.XA.Foundation.LocalDatasources" implementationType="Sitecore.XA.Foundation.LocalDatasources.Services.CodeDatasourceService, Sitecore.XA.Foundation.LocalDatasources" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.LocalDatasources.Services.ILocalDatasourceService, Sitecore.XA.Foundation.LocalDatasources" implementationType="Sitecore.XA.Foundation.LocalDatasources.Services.LocalDatasourceService, Sitecore.XA.Foundation.LocalDatasources" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.SitecoreExtensions.Services.IRenderingDatasourceCommandService, Sitecore.XA.Foundation.SitecoreExtensions" implementationType="Sitecore.XA.Foundation.LocalDatasources.Services.RenderingDatasourceCommandsService, Sitecore.XA.Foundation.LocalDatasources" lifetime="Singleton"/>
        </services>
        <commands>
            <command name="datasourceresolution:createdatasourcesetting" type="Sitecore.XA.Foundation.LocalDatasources.RenderingDatasources.CreateRenderingSettings, Sitecore.XA.Foundation.LocalDatasources"/>
            <command patch:instead="*[@name='webedit:addrendering']" name="webedit:addrendering" type="Sitecore.XA.Foundation.LocalDatasources.Commands.AddRendering, Sitecore.XA.Foundation.LocalDatasources" />
            <command patch:instead="*[@name='webedit:setdatasource']" name="webedit:setdatasource" type="Sitecore.XA.Foundation.LocalDatasources.Commands.SetDatasource, Sitecore.XA.Foundation.LocalDatasources" />
        </commands>
        <controlSources>
            <source patch:before="*[@namespace='Sitecore.Buckets.FieldTypes']" mode="on" namespace="Sitecore.XA.Foundation.LocalDatasources.CustomFields.FieldTypesEx" assembly="Sitecore.XA.Foundation.LocalDatasources" prefix="contentExtension"/>
            <source patch:before="*[@namespace='Sitecore.Buckets.FieldTypes']" mode="on" namespace="Sitecore.XA.Foundation.LocalDatasources.CustomFields.FieldTypesEx" assembly="Sitecore.XA.Foundation.LocalDatasources" prefix="contentExtension"/>
            <source mode="on" namespace="Sitecore.XA.Foundation.SitecoreExtensions.Controls" assembly="Sitecore.XA.Foundation.SitecoreExtensions"/>
        </controlSources>
        <processors>
            <uiDeleteItems>
                <processor patch:instead="*[@method='Confirm' and @type='Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel']" mode="on" type="Sitecore.XA.Foundation.LocalDatasources.Processors.DeleteItems, Sitecore.XA.Foundation.LocalDatasources" method="Confirm" />
                <processor patch:instead="*[@method='CheckLinks' and @type='Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel']" mode="on" type="Sitecore.XA.Foundation.LocalDatasources.Processors.DeleteItems, Sitecore.XA.Foundation.LocalDatasources" method="CheckInboundLinks"/>
                <processor patch:instead="*[@method='Execute' and @type='Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel']" mode="on" type="Sitecore.XA.Foundation.LocalDatasources.Processors.DeleteItems, Sitecore.XA.Foundation.LocalDatasources" method="Execute" />
                <processor patch:after="*[@method='PostAction' and @type='Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel']" mode="on" type="Sitecore.XA.Foundation.LocalDatasources.Processors.DeleteItems, Sitecore.XA.Foundation.LocalDatasources" method="Reload" />
            </uiDeleteItems>
        </processors>

        <ui>
            <usings>
                <using id="Sitecore.XA.Foundation.SitecoreExtensions.SitecoreExtensions">Sitecore.XA.Foundation.SitecoreExtensions.Controls</using>
            </usings>
            <references>
                <reference id="Sitecore.XA.Foundation.SitecoreExtensions.SitecoreExtensions">/bin/Sitecore.XA.Foundation.SitecoreExtensions.dll</reference>
            </references>
        </ui>
    </sitecore>
</configuration>