<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Geospatial foundation module.

This foundation module provides templates for geospatial search.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" >
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <exclude hint="list:AddExcludedField">
              <Latitude>{94969C59-C4B8-43ED-9C92-3FBF930C0ACF}</Latitude>
              <Longitude>{8C1AEA63-2E5E-4FEE-B413-D3B1E050DD26}</Longitude>
            </exclude>
          </documentOptions>
        </defaultSolrIndexConfiguration>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <exclude hint="list:AddExcludedField">
              <Latitude>{94969C59-C4B8-43ED-9C92-3FBF930C0ACF}</Latitude>
              <Longitude>{8C1AEA63-2E5E-4FEE-B413-D3B1E050DD26}</Longitude>
            </exclude>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <services>
        <register serviceType="Sitecore.XA.Foundation.Geospatial.Services.IMapsProvider, Sitecore.XA.Foundation.Geospatial" implementationType="Sitecore.XA.Foundation.Geospatial.Services.MapsProvider, Sitecore.XA.Foundation.Geospatial" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>