<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Grid foundation module.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAccelerator>
      <grid>
        <!-- List of excluded rendering parameters fields IDs used to build Grid parameters modal dialog -->
        <excludedComponentSettingFields>
          <fieldID desc="ColumnWidth1">{C8C9D3B3-962A-45C1-90AE-F36BB0AA54F2}</fieldID>
          <fieldID desc="ColumnWidth2">{16667F70-4990-4C66-B6F5-7F83B5E3A7A6}</fieldID>
          <fieldID desc="ColumnWidth3">{8DEF98FB-784F-4F2C-BF52-5BB5FF79CD64}</fieldID>
          <fieldID desc="ColumnWidth4">{AF01DCB3-53CF-49D8-9530-7F0A76CC63BE}</fieldID>
          <fieldID desc="ColumnWidth5">{A0F928B8-7036-4221-A097-C5B1B8372B1C}</fieldID>
          <fieldID desc="ColumnWidth6">{295EB8FB-C722-437C-AF4F-3FB482B57561}</fieldID>
          <fieldID desc="ColumnWidth7">{AB33A317-F0D3-4312-A5B2-5159AD04B7EC}</fieldID>
          <fieldID desc="ColumnWidth8">{AE807864-F2C8-461B-9FC8-0D5BE9861F4E}</fieldID>
          <fieldID desc="Additional Parameters">{485E33D4-79F1-428F-8258-2CB29BB7CC6B}</fieldID>
          <fieldID desc="Data Source">{0793DCFF-0EE7-48AD-B9D4-EF1DD24EB59B}</fieldID>
          <fieldID desc="Placeholder">{E42027F4-766D-45A7-8CF4-29E5C94326F7}</fieldID>
          <fieldID desc="Caching">{3094D236-5985-4C4F-AE6A-E30740885532}</fieldID>
          <fieldID desc="GridParameters">{4321C097-ACE1-4F65-AEAB-B8AC8F3E5356}</fieldID>
          <fieldID desc="SplitterSize">{6055E1C7-B6F3-4514-B6BE-406D957CB031}</fieldID>
        </excludedComponentSettingFields>
      </grid>
    </experienceAccelerator>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.XA.Foundation.Grid.EventHandlers.GridCacheRefresher, Sitecore.XA.Foundation.Grid" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Sitecore.XA.Foundation.Grid.EventHandlers.GridCacheRefresher, Sitecore.XA.Foundation.Grid" method="OnItemSavedRemote" />
      </event>
    </events>
    <pipelines>
      <getComponentSettingFields>
        <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetFields, Sitecore.Client"/>
        <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetExplicitFields, Sitecore.Client"/>
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.GetContentEditorFields.HideFields, Sitecore.XA.Foundation.Grid" resolve="true"/>
        <processor type="Sitecore.XA.Foundation.SitecoreExtensions.Pipelines.GetContentEditorFields.AddContextToRenderingParameters, Sitecore.XA.Foundation.SitecoreExtensions" resolve="true"/>
        <processor type="Sitecore.XA.Foundation.SitecoreExtensions.Pipelines.GetContentEditorFields.MergeDuplicatedSections, Sitecore.XA.Foundation.SitecoreExtensions" resolve="true"/>
      </getComponentSettingFields>
      <getGridParametersDialogFields>
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.GetGridParametersDialogFields.GetGridParametersField, Sitecore.XA.Foundation.Grid" resolve="true" />
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.GetGridParametersDialogFields.GetAdditionalFields, Sitecore.XA.Foundation.Grid" resolve="true" />
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.GetGridParametersDialogFields.GetComponentSettingsFields, Sitecore.XA.Foundation.Grid" resolve="true" />
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.GetGridParametersDialogFields.FilterDuplicatedFieldDescriptors, Sitecore.XA.Foundation.Grid" resolve="true" />
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.GetGridParametersDialogFields.GetFieldValuesFromLayout, Sitecore.XA.Foundation.Grid" resolve="true" />
      </getGridParametersDialogFields>
      <refreshHttpRoutes>
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.RefreshHttpRoutes.GetGridRoutes, Sitecore.XA.Foundation.Grid" resolve="true" />
      </refreshHttpRoutes>
      <initialize>
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.Initialize.InitializeRouting, Sitecore.XA.Foundation.Grid" resolve="true" />
      </initialize>
      <decorateRendering>
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.DecorateRendering.GetGridRowClass, Sitecore.XA.Foundation.Grid" patch:before="*[1]" resolve="true" />
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.DecorateRendering.GetGridCssClasses, Sitecore.XA.Foundation.Grid" resolve="true" />
      </decorateRendering>
      <assetService>
        <processor type="Sitecore.XA.Foundation.Grid.Pipelines.AssetService.AddGridTheme, Sitecore.XA.Foundation.Grid" resolve="true" />
      </assetService>
      <getChromeData>
        <processor patch:after="*[@type='Sitecore.FXM.Client.Pipelines.ExperienceEditor.GetChromeData.GetPlaceholdersChromeData, Sitecore.FXM.Client']"
                   type="Sitecore.XA.Foundation.Grid.Pipelines.GetChromeData.InjectContextItemId, Sitecore.XA.Foundation.Grid" resolve="true" />
      </getChromeData>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Foundation.Grid.IGridContext, Sitecore.XA.Foundation.Grid" implementationType="Sitecore.XA.Foundation.Grid.GridContext, Sitecore.XA.Foundation.Grid" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.Grid.Repositories.IGridSettingsRepository, Sitecore.XA.Foundation.Grid" implementationType="Sitecore.XA.Foundation.Grid.Repositories.GridSettingsRepository, Sitecore.XA.Foundation.Grid" lifetime="Singleton"/>        
        <register serviceType="Sitecore.XA.Foundation.Grid.Services.IGridParametersModeProfileService, Sitecore.XA.Foundation.Grid" implementationType="Sitecore.XA.Foundation.Grid.Services.GridParametersModeProfileService, Sitecore.XA.Foundation.Grid" lifetime="Singleton"/>
    </services>
    <controlSources>
      <source mode="on" namespace="Sitecore.XA.Foundation.Grid.Fields.FieldTypes" assembly="Sitecore.XA.Foundation.Grid" prefix="sxaGrid" />
    </controlSources>
    <commands>
      <command name="webedit:setgridsettings" type="Sitecore.XA.Foundation.Grid.Commands.SetGridValues, Sitecore.XA.Foundation.Grid" />
      <command name="webedit:setgridmode" type="Sitecore.XA.Foundation.Grid.Commands.SetGridMode, Sitecore.XA.Foundation.Grid" />
      <command name="webedit:showgridparameterersdialog" type="Sitecore.XA.Foundation.Grid.Commands.ShowGridPropertiesDialog, Sitecore.XA.Foundation.Grid"/>
    </commands>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.XA.GetGridColumnClass" type="Sitecore.XA.Foundation.Grid.Requests.GetGridColumnClass, Sitecore.XA.Foundation.Grid"/>
    </sitecore.experienceeditor.speak.requests>
      <fieldTypes>
          <fieldType name="Grid Parameters" type="Sitecore.XA.Foundation.Grid.Fields.FieldTypes.GridParameters, Sitecore.XA.Foundation.Grid" />
      </fieldTypes>
  </sitecore>
</configuration>