<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Version81 foundation module.

This foundation module contains Sitecore 9.0 specific code.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <!-- TODO: refactor VersionSpecific groups configuration after we drop 8.2 support -->
            <group groupName="ExperienceEditor" name="ExperienceEditor">
                <pipelines>
                    <executePageEditorAction>
                        <processor patch:instead="*[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']" type="Sitecore.XA.Foundation.DynamicPlaceholders.Pipelines.ExecutePageEditorAction.InsertDynamicRendering, Sitecore.XA.Foundation.DynamicPlaceholders" resolve="true" />
                        <processor patch:after="*[@type='Sitecore.XA.Foundation.Grid.Pipelines.ExecutePageEditorAction.FillGridDefaultValues, Sitecore.XA.Foundation.Grid']" type="Sitecore.XA.Feature.PageStructure.Pipelines.ExecutePageEditorAction.FillColumnSpliterDefaultGridValues, Sitecore.XA.Feature.PageStructure" />
                        <processor patch:after="*[@type='Sitecore.XA.Foundation.Grid.Pipelines.ExecutePageEditorAction.FillGridDefaultValues, Sitecore.XA.Foundation.Grid']" type="Sitecore.XA.Feature.Composites.Pipelines.ExecutePageEditorAction.FillCompositeRenderingDatasource, Sitecore.XA.Feature.Composites" />
                        <processor patch:before="*[1]" type="Sitecore.XA.Foundation.Grid.Pipelines.ExecutePageEditorAction.FillGridDefaultValues, Sitecore.XA.Foundation.Grid" resolve="true" />
                    </executePageEditorAction>
                    <getPageEditorNotifications>
                        <processor type="Sitecore.XA.Feature.LayoutServices.Integration.Pipelines.GetPageEditorNotifications.ShowLayoutServiceWarning, Sitecore.XA.Feature.LayoutServices.Integration" resolve="true" />
                        <processor type="Sitecore.XA.Foundation.Multisite.Pipelines.GetPageEditorNotifications.DelegatedAreaNotification, Sitecore.XA.Foundation.Multisite" resolve="true" />
                        <processor type="Sitecore.XA.Foundation.Upgrade.Pipelines.GetPageEditorNotifications.ContentVersionNotification, Sitecore.XA.Foundation.Upgrade" resolve="true" />
                        <processor type="Sitecore.XA.Foundation.Upgrade.Pipelines.GetPageEditorNotifications.IncompatibleSxaVersionNotification, Sitecore.XA.Foundation.Upgrade" resolve="true" />
                    </getPageEditorNotifications>
                    <getExperienceEditorRibbon>
                        <processor patch:before="*[1]"
                                   type="Sitecore.XA.Feature.Overlays.Pipelines.RenderPageExtenders.AbortRenderingExtendersOnOverlay, Sitecore.XA.Feature.Overlays" resolve="true" />
                    </getExperienceEditorRibbon>
                </pipelines>
            </group>
            <preAuthenticateRequest>
                <processor patch:instead="*[@type='Sitecore.Pipelines.PreAuthenticateRequest.SiteResolver, Sitecore.Kernel']" type="Sitecore.XA.Foundation.VersionSpecific.Pipelines.PreAuthenticateRequest.SiteResolver, Sitecore.XA.Foundation.VersionSpecific" resolve="true" />
            </preAuthenticateRequest>
        </pipelines>
        <processors>
            <uiDeleteItems>
                <processor patch:instead="*[@method='CheckCloneLinks' and @type='Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel']" mode="on" type="Sitecore.XA.Foundation.VersionSpecific.Processors.CheckCloneAndDelegatedAreaLinks, Sitecore.XA.Foundation.VersionSpecific" method="CheckCloneLinks"/>
            </uiDeleteItems>
        </processors>
        <sitecore.experienceeditor.speak.requests>
            <request patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.LayoutDetails.SetLayoutDetailsRequest, Sitecore.ExperienceEditor.Speak.Ribbon']" name="ExperienceEditor.LayoutDetails.SetValue" type="Sitecore.XA.Foundation.VersionSpecific.Requests.SetLayoutDetailsRequest, Sitecore.XA.Foundation.VersionSpecific" />
            <request patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.Insert.InsertRequest, Sitecore.ExperienceEditor.Speak.Ribbon']" name="ExperienceEditor.Insert" type="Sitecore.XA.Foundation.VersionSpecific.Requests.InsertRequest, Sitecore.XA.Foundation.VersionSpecific" />
        </sitecore.experienceeditor.speak.requests>        
        <services>
            <register serviceType="Sitecore.XA.Foundation.Search.Services.ISuggester, Sitecore.XA.Foundation.Search" implementationType="Sitecore.XA.Foundation.VersionSpecific.Services.SolrSuggester, Sitecore.XA.Foundation.VersionSpecific" lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>

