<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Scaffolding foundation module.

The Scaffolding foundation module is used to create new sites.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
        <register serviceType="Sitecore.XA.Foundation.Scaffolding.Services.IScaffoldingService, Sitecore.XA.Foundation.Scaffolding" implementationType="Sitecore.XA.Foundation.Scaffolding.Services.ScaffoldingService, Sitecore.XA.Foundation.Scaffolding" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>