<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Rendering Variants foundation module.

Rendering Variants are variations of components. When a user places a component on a page they are able to select different ways that the component can appear and the content that it displays.
This can vary from project to project. Super users can create their own Rendering Variants. 
This removes the need for building new renderings that are only slight different than the existing renderings.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="XA.Foundation.Variants.Abstractions.VariantSwitcherCacheMaxSize" value="50MB" />
        </settings>
        <pipelines>
            <initialize>
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.Initialize.InitializeRouting, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true" />
            </initialize>
            <refreshHttpRoutes>
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.RefreshHttpRoutes.GetVariantRoutes, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true" />
            </refreshHttpRoutes>
            <getVelocityTemplateRenderers>
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVelocityTemplateRenderers.InitializeVelocityContext, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true" />
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVelocityTemplateRenderers.AddTemplateRenderers, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true" />
            </getVelocityTemplateRenderers>
            <resolveVariantTokens>
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.ResolveVariantTokens.ResolveIFileTypeIcon, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true" />
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.ResolveVariantTokens.ResolveItemId, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true" />
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.ResolveVariantTokens.ResolveItemName, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true" />
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.ResolveVariantTokens.ResolveSize, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true" />
            </resolveVariantTokens>
            <getVariants>
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVariants.GetSystemVariants, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true"/>
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVariants.GetSiteVariants, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true"/>
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVariants.GetLinkedVariants, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true"/>
                <processor type="Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.GetVariants.GetSharedVariants, Sitecore.XA.Foundation.Variants.Abstractions" resolve="true"/>
            </getVariants>
        </pipelines>
        <events>
            <event name="item:added">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemAdded" />
            </event>
            <event name="item:added:remote">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemAddedRemote" />
            </event>
            <event name="item:deleted">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemDeleted" />
            </event>
            <event name="item:deleted:remote">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemDeletedRemote" />
            </event>
            <event name="item:copied">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemCopied" />
            </event>        
            <event name="item:copied:remote">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemCopiedRemote" />
            </event>
            <event name="item:moved">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemMoved" />
            </event>        
            <event name="item:moved:remote">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemMovedRemote" />
            </event>
            <event name="item:renamed">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemRenamed" />
            </event>        
            <event name="item:renamed:remote">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemRenamedRemote" />
            </event>
            <event name="item:saved">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemSaved" />
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.XA.Foundation.Variants.Abstractions.EventHandlers.VariantSwitchertCacheClearer, Sitecore.XA.Foundation.Variants.Abstractions" method="OnItemSavedRemote" />
            </event>
        </events>
        <services>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Repositories.IVariantSwitcherRepository, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Repositories.VariantSwitcherRepository, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Services.IVariantFieldParser, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Services.VariantFieldParser, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Services.ITemplateRenderer, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Services.TemplateRenderer, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Transient"/>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Renderers.IVariantRenderer, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Renderers.VariantRenderer, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Transient"/>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Services.IAvailableRenderingVariantService, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Services.AvailableRenderingVariantService, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Services.IVariantRenderingService, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Services.VariantRenderingService, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Services.IVariantFieldParser, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Services.VariantFieldParser, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Services.IRulesService, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Services.RulesService, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Variants.Abstractions.Services.IRenderingVariantsRepository, Sitecore.XA.Foundation.Variants.Abstractions" implementationType="Sitecore.XA.Foundation.Variants.Abstractions.Services.RenderingVariantsRepository, Sitecore.XA.Foundation.Variants.Abstractions" lifetime="Singleton"/>
        </services>
        <commands>
            <command name="webedit:switchvariant" type="Sitecore.XA.Foundation.Variants.Abstractions.Commands.SwitchVariant, Sitecore.XA.Foundation.Variants.Abstractions" />
        </commands>
        <experienceAccelerator>
            <renderingVariants>
                <!-- List of templates where usage of rendering variants will be enabled. -->
                <!--<allowedTemplates>
          <template name="template name">{3D3BA81A-EECE-4B5A-9862-0239A9D53EEC}</template>          
        </allowedTemplates>-->
            </renderingVariants>
        </experienceAccelerator>
    </sitecore>
</configuration>

