<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Social feature.

This feature contains the social renderings such as Twitter, AddThis, Feed, and Social Media Share.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
        <register serviceType="Sitecore.XA.Feature.Social.Repositories.IRfcDateTime, Sitecore.XA.Feature.Social" implementationType="Sitecore.XA.Feature.Social.Repositories.Rfc822DateTime, Sitecore.XA.Feature.Social" lifetime="Singleton"/>
    </services>
 </sitecore>
</configuration>

