<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Engagement feature.

This feature contains renderings that are used to display and write comments (Disqus, Livefrye, Facebook Comments).

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
  </sitecore>
</configuration>

