<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Security feature.

This feature contains Login and Logout renderings as well as a Social Login Wrapper rendering which simply wraps the login components that are provided by different social services such as Facebook.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAccelerator>
      <security>
        <roles>
          <role name="Base">
            <memberOf>
            </memberOf>
            <accessRights>
              <item id="3D6658D8-A0BF-4E75-B3E2-D050FABCF4E1" value="|pe|-item:create|pd|-item:create|-item:write|-item:delete|-item:rename|"></item>
              <item id="75CC5CE4-8979-4008-9D3C-806477D57619" value="|pe|-item:create|pd|-item:create|-item:delete|-item:write|-item:rename|"></item>
              <item id="32566F0E-7686-45F1-A12F-D7260BD78BC3" value="|pe|-item:create|pd|-item:create|-item:delete|-item:write|-item:rename|"></item>
              <item id="EB443C0B-F923-409E-85F3-E7893C8C30C2" value="|pe|-item:create|pd|-item:create|-item:delete|-item:write|-item:rename|"></item>
              <item id="3C1715FE-6A13-4FCF-845F-DE308BA9741D" value="|pd|-item:create|-item:write|-item:delete|-item:rename|"></item>
            </accessRights>
          </role>
          <role name="Author">
            <memberOf>
              <role name="Author" domain="sitecore"></role>
              <role name="Base" domain="ExperienceAccelerator"></role>
            </memberOf>
            <accessRights>
            </accessRights>
          </role>
          <role name="Editor">
            <memberOf>
              <role name="Designer" domain="sitecore"></role>
              <role name="Author" domain="ExperienceAccelerator"></role>
              <role name="Base" domain="ExperienceAccelerator"></role>
            </memberOf>
            <accessRights>
            </accessRights>
          </role>
          <role name="Designer">
            <memberOf>
              <role name="Designer" domain="sitecore"></role>
              <role name="Editor" domain="ExperienceAccelerator"></role>
              <role name="Base" domain="ExperienceAccelerator"></role>
            </memberOf>
            <accessRights>
            </accessRights>
          </role>
          <role name="FrontEnd">
            <memberOf>
              <role name="Designer" domain="sitecore"></role>
              <role name="Designer" domain="ExperienceAccelerator"></role>
              <role name="Base" domain="ExperienceAccelerator"></role>
            </memberOf>
            <accessRights>
            </accessRights>
          </role>
          <role name="Admin">
            <memberOf>
              <role name="Developer" domain="sitecore"></role>
              <role name="Sitecore Client Publishing" domain="sitecore"></role>
              <role name="Sitecore Client Advanced Publishing" domain="sitecore"></role>
              <role name="FrontEnd" domain="ExperienceAccelerator"></role>
              <role name="Base" domain="ExperienceAccelerator"></role>
            </memberOf>
            <accessRights>
            </accessRights>
          </role>
        </roles>
      </security>
    </experienceAccelerator>
    <pipelines>
      <httpRequestProcessed>
        <processor patch:after="*[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics,Sitecore.Analytics']" type="Sitecore.XA.Feature.Security.Pipelines.HttpRequestProcessed.RemoveServerInformationHeader, Sitecore.XA.Feature.Security" resolve="true" />
      </httpRequestProcessed>
    </pipelines>
  </sitecore>
</configuration>

