<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Page Content feature.

This feature contains renderings that can be used to display different content from a page or item.
Renderings such as Page List renders a list of pages. Each list item shows a preconfigured list of fields from a corresponding page. 
Other renderings such as Title or Page Content simply display different fields from an item.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- JSON DEVICE ID
           The ID of JSON device.
      -->
      <setting name="Sitecore.XA.Feature.Json.JsonDeviceId" value="{0B4A31C9-712D-4578-A396-2DDC0F34B63A}" />
    </settings>
    <experienceAccelerator>
      <!-- List of devices with limited capabilities -->
      <limitedDevices>
        <device name="JSON">{0B4A31C9-712D-4578-A396-2DDC0F34B63A}</device>
      </limitedDevices>
    </experienceAccelerator>
    <pipelines>
      <resolveAvailableRenderingsNodeTemplate>
        <processor patch:before="*[1]" type="Sitecore.XA.Feature.Json.Pipelines.ResolveAvailableRenderingsNodeTemplate.ResolveJsonAvailableRenderings, Sitecore.XA.Feature.Json" resolve="true" />
      </resolveAvailableRenderingsNodeTemplate>
      <httpRequestProcessed>
        <processor type="Sitecore.XA.Feature.Json.Pipelines.HttpRequest.SetAccessControlHeaders, Sitecore.XA.Feature.Json" resolve="true" />
      </httpRequestProcessed>
      <httpRequestBegin>
        <processor patch:before="*[@type='Sitecore.Pipelines.HttpRequest.DeviceResolver, Sitecore.Kernel']" type="Sitecore.XA.Feature.Json.Pipelines.HttpRequest.ResolveJsonDevice, Sitecore.XA.Feature.Json" resolve="true" />
      </httpRequestBegin>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Feature.Json.Providers.ICorsInfoProvider, Sitecore.XA.Feature.Json" implementationType="Sitecore.XA.Feature.Json.Providers.CorsInfoProvider, Sitecore.XA.Feature.Json" lifetime="Singleton"/>
    </services>
    <processors>
      <uiGetMasters>
        <processor patch:after="*[@type='Sitecore.Pipelines.GetMasters.GetItemMasters,Sitecore.Kernel']" type="Sitecore.XA.Feature.Json.Processors.UiGetMasters.GetItemMasters, Sitecore.XA.Feature.Json" />
      </uiGetMasters>
    </processors>
  </sitecore>
</configuration>