<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Maps feature.

Content authors can use the Maps rendering which to embed interactive maps from Google and Bing.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="map:selectpoint" type="Sitecore.XA.Feature.Maps.Commands.SelectMapPoint, Sitecore.XA.Feature.Maps"/>
      <command name="map:selectpoi" type="Sitecore.XA.Feature.Maps.Commands.SelectPoiPoint, Sitecore.XA.Feature.Maps"/>
      <command name="webedit:map:selectpoint" type="Sitecore.XA.Feature.Maps.Commands.WebEditSelectMapPoint, Sitecore.XA.Feature.Maps"/>
    </commands>
  </sitecore>
</configuration>

