<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file enables and configures the Error Handling feature.

This feature is responsible for handling errors such 404 and 500.

To disable this file, change its extension to ".disabled".

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.XA.Feature.ErrorHandling.Pipelines.HttpRequestBegin.ItemNotFoundResolver, Sitecore.XA.Feature.ErrorHandling" resolve="true" />
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor patch:after="*[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics,Sitecore.Analytics']" type="Sitecore.XA.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.SetStatusCode, Sitecore.XA.Feature.ErrorHandling" resolve="true" />
        <processor patch:after="*[@type='Sitecore.XA.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.SetStatusCode, Sitecore.XA.Feature.ErrorHandling']" type="Sitecore.XA.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.HandleServerErrorCode, Sitecore.XA.Feature.ErrorHandling" resolve="true" />
      </httpRequestProcessed>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Feature.ErrorHandling.IStaticErrorPageRenderer, Sitecore.XA.Feature.ErrorHandling" implementationType="Sitecore.XA.Feature.ErrorHandling.StaticErrorPageRenderer, Sitecore.XA.Feature.ErrorHandling" lifetime="Singleton"/>
    </services>
    <commands>
      <command name="errorhandling:generatestaticpage" type="Sitecore.XA.Feature.ErrorHandling.Commands.GenerateStaticErrorPage, Sitecore.XA.Feature.ErrorHandling"/>
    </commands>
  </sitecore>
</configuration>

