<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Forms feature.

Content authors can use the Web Forms for Marketers module to build custom forms. To be consistent with other SXA renderings in terms of CSS class assignment, a form must be surrounded by this wrapper.
Form Wrapper rendering enables the users to add a form made with Web Forms for Marketers to the page.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor patch:after="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" type="Sitecore.XA.Feature.Forms.Pipelines.GetPlaceholderRenderings.FilterWffmRenderings, Sitecore.XA.Feature.Forms" resolve="true" />
      </getPlaceholderRenderings>
      <renderLayout>
        <processor patch:instead="*[@type='Sitecore.Form.Core.Pipeline.RenderLayout.ViewPlaceholdersHandler, Sitecore.Forms.Core']" type="Sitecore.XA.Feature.Forms.Pipelines.RenderLayout.ViewPlaceholdersHandler, Sitecore.XA.Feature.Forms" resolve="true" />
      </renderLayout>
      <expandInitialFieldValue>
        <processor type="Sitecore.XA.Feature.Forms.Pipelines.ExpandInitialFieldValue.ReplaceFormsVariables, Sitecore.XA.Feature.Forms" resolve="true" />
      </expandInitialFieldValue>
    </pipelines>
  </sitecore>
</configuration>

