<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Site Metadata feature.

This feature contains a set of metadata components that are used on SXA metadata layouts.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- META PARTIAL DESIGN THEME
           The ID of the theme used while editing meta partial designs.
      -->
      <setting name="XA.Feature.SiteMetadata.MetaPartialDesignTheme" value="{A143DB06-A44F-45CC-B6CC-3C61A4A0CADD}" />
    </settings>
    <experienceAccelerator>
      <sitecoreExtensions>
        <filterUrlFilesAndExtensions>
          <file desc="Allowed file - Feature.Robots">robots.txt</file>
          <file desc="Allowed file - Feature.Sitemap">sitemap.xml</file>
        </filterUrlFilesAndExtensions>
      </sitecoreExtensions>
    </experienceAccelerator>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.XA.Feature.SiteMetadata.EventHandlers.SitemapCacheClearer, Sitecore.XA.Feature.SiteMetadata" method="ClearSitemapCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.XA.Feature.SiteMetadata.EventHandlers.SitemapCacheClearer, Sitecore.XA.Feature.SiteMetadata" method="ClearSitemapCache" />
      </event>
        <event name="publish:end">
            <handler type="Sitecore.XA.Feature.SiteMetadata.EventHandlers.RobotsCacheClearer, Sitecore.XA.Feature.SiteMetadata" method="ClearRobotsCache" />
        </event>
        <event name="publish:end:remote">
            <handler type="Sitecore.XA.Feature.SiteMetadata.EventHandlers.RobotsCacheClearer, Sitecore.XA.Feature.SiteMetadata" method="ClearRobotsCache" />
        </event>
    </events>
    <pipelines>
      <getCustomMetadata>
        <processor type="Sitecore.XA.Feature.SiteMetadata.Pipelines.CustomMetadata.GetCustomMetadataFromFields, Sitecore.XA.Feature.SiteMetadata" resolve="true" />
      </getCustomMetadata>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.DatabaseResolver, Sitecore.Kernel']"
                   type="Sitecore.XA.Feature.SiteMetadata.Pipelines.HttpRequestBegin.RobotsHandler, Sitecore.XA.Feature.SiteMetadata" resolve="true" >
          <CacheExpiration>720</CacheExpiration>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.DatabaseResolver, Sitecore.Kernel']"
                   type="Sitecore.XA.Feature.SiteMetadata.Pipelines.HttpRequestBegin.SitemapHandler, Sitecore.XA.Feature.SiteMetadata" resolve="true">
          <CacheExpiration>30</CacheExpiration>
        </processor>
      </httpRequestBegin>
      <getRobotsContent>
        <processor type="Sitecore.XA.Feature.SiteMetadata.Pipelines.GetRobotsContent.GetContentFromSettings, Sitecore.XA.Feature.SiteMetadata" resolve="true" />
        <processor type="Sitecore.XA.Feature.SiteMetadata.Pipelines.GetRobotsContent.GetDefaultRobotsContent, Sitecore.XA.Feature.SiteMetadata" resolve="true" />
        <processor type="Sitecore.XA.Feature.SiteMetadata.Pipelines.GetRobotsContent.AppendSitemapUrl, Sitecore.XA.Feature.SiteMetadata" resolve="true" />
      </getRobotsContent>
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Sitecore/ExperienceAccelerator/ExperienceEditor/SiteMetadata" deep="true" category="SiteMetadata" pattern="*.js" />
          </sources>
        </processor>
      </speak.client.resolveScript>
      <assetService>
        <processor type="Sitecore.XA.Feature.SiteMetadata.Pipelines.AssetService.AddMetaPartialDesignTheme, Sitecore.XA.Feature.SiteMetadata" resolve="true" />
      </assetService>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Feature.SiteMetadata.Repositories.BrowserTitle.IBrowserTitleRepository, Sitecore.XA.Feature.SiteMetadata" implementationType="Sitecore.XA.Feature.SiteMetadata.Repositories.BrowserTitle.BrowserTitleRepository, Sitecore.XA.Feature.SiteMetadata" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Feature.SiteMetadata.Repositories.Favicon.IFaviconRepository, Sitecore.XA.Feature.SiteMetadata" implementationType="Sitecore.XA.Feature.SiteMetadata.Repositories.Favicon.FaviconRepository, Sitecore.XA.Feature.SiteMetadata" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Feature.SiteMetadata.Sitemap.ISitemapGenerator, Sitecore.XA.Feature.SiteMetadata" implementationType="Sitecore.XA.Feature.SiteMetadata.Sitemap.SitemapGenerator, Sitecore.XA.Feature.SiteMetadata" lifetime="Transient"/>
        <register serviceType="Sitecore.XA.Feature.SiteMetadata.Services.IExternalLinkGenerator, Sitecore.XA.Feature.SiteMetadata" implementationType="Sitecore.XA.Feature.SiteMetadata.Services.ExternalLinkGenerator, Sitecore.XA.Feature.SiteMetadata" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.Mvc.Repositories.Base.IAbstractRepository`1[[Sitecore.XA.Feature.SiteMetadata.Models.SeoMetadataRenderingModel, Sitecore.XA.Feature.SiteMetadata]], Sitecore.XA.Foundation.Mvc" 
                  implementationType="Sitecore.XA.Feature.SiteMetadata.Repositories.SeoMetadata.SeoMetadataRepository, Sitecore.XA.Feature.SiteMetadata" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.Mvc.Repositories.Base.IAbstractRepository`1[[Sitecore.XA.Feature.SiteMetadata.Models.TwitterMetadataRenderingModel, Sitecore.XA.Feature.SiteMetadata]], Sitecore.XA.Foundation.Mvc"
                  implementationType="Sitecore.XA.Feature.SiteMetadata.Repositories.TwitterMetadata.TwitterMetadataRepository, Sitecore.XA.Feature.SiteMetadata" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.Mvc.Repositories.Base.IAbstractRepository`1[[Sitecore.XA.Feature.SiteMetadata.Models.OpenGraphRenderingModel, Sitecore.XA.Feature.SiteMetadata]], Sitecore.XA.Foundation.Mvc"
                  implementationType="Sitecore.XA.Feature.SiteMetadata.Repositories.OpenGraphMetadata.OpenGraphMetadataRepository, Sitecore.XA.Feature.SiteMetadata" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.Mvc.Repositories.Base.IAbstractRepository`1[[Sitecore.XA.Feature.SiteMetadata.Models.ViewportRenderingModel, Sitecore.XA.Feature.SiteMetadata]], Sitecore.XA.Foundation.Mvc"
                  implementationType="Sitecore.XA.Feature.SiteMetadata.Repositories.Viewport.ViewportRepository, Sitecore.XA.Feature.SiteMetadata" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>

