<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file enables and configures the Compliancy feature.

This feature displays the cookie policy as a tool tip that contains information about cookie storage and an Accept button.

To disable this file, change its extension to ".disabled".

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
  </sitecore>
</configuration>