<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file enables and configures the Device Resolver feature.

This feature extends the standard Sitecore device resolver with an SXA specific device resolver.

To disable this file, change its extension to ".disabled".

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.DeviceResolver, Sitecore.Kernel']" type="Sitecore.XA.Feature.DeviceResolver.Pipelines.HttpRequestBegin.MultiAgentDeviceResolver, Sitecore.XA.Feature.DeviceResolver" resolve="true" />
        <processor type="Sitecore.Pipelines.HttpRequest.PageEditorHandleNoLayout, Sitecore.ExperienceEditor">
          <patch:delete />
        </processor>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.HttpRequest.TransferMvcLayout, Sitecore.Mvc']"
                   type="Sitecore.Pipelines.HttpRequest.PageEditorHandleNoLayout, Sitecore.ExperienceEditor" resolve="true" />
        <processor type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.CheckDevice, Sitecore.ExperienceEditor">
          <patch:delete />
        </processor>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.HttpRequest.TransferMvcLayout, Sitecore.Mvc']"
                    type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.CheckDevice, Sitecore.ExperienceEditor" resolve="true" />
      </httpRequestBegin>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Feature.DeviceResolver.IDeviceResolver, Sitecore.XA.Feature.DeviceResolver" implementationType="Sitecore.XA.Feature.DeviceResolver.DeviceResolver, Sitecore.XA.Feature.DeviceResolver" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>