<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Page Structure feature.

This feature structures the page by inserting columns, rows, and containers. 

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- COLUMN SPLITTER SIZES ROOT ITEM
           The ID of the enumeration item which contains the possible sizes of the columns in the Column Spliter rendering.
      -->
      <setting name="XA.Feature.PageStructure.ColumnSpliterSizesRootItem" value="{D9128E2A-2620-4383-BEF4-7DECE03FABBC}" />
    </settings>
    <experienceAccelerator>
      <!-- Minimal and maximum column size allowed in a Column Spliter rendering. -->
      <columnResizer minSize="1" maxSize="12" />
      <!-- List of the component properties sections which contain drop downs with list of possible columns spliter columns sizes. -->
        <splitterResizer minSize="1" maxSize="8" id="{8C4F99AC-5C29-40EF-9A33-1A4C73DBFEA9}">
        <section id="{9520F27E-BDDE-4633-95D8-E4A3AE7F65ED}" />
        <section id="{2DEAF52F-E465-49CC-B440-6F060DDA2435}" />
        <section id="{B73D4CA7-CEE3-4651-A541-F6BDC3BCE5D5}" />
      </splitterResizer>
      <!-- List of fields which should be hidden in the Content Editor. -->
      <hideContentEditorFields>
        <field id="{6055E1C7-B6F3-4514-B6BE-406D957CB031}" />
        <field id="{8C4F99AC-5C29-40EF-9A33-1A4C73DBFEA9}" />
      </hideContentEditorFields>
      <grid>
        <gridParametersDialogFields>
          <fieldID desc="Styles1_Column">{E6C7D17A-28FD-4F20-B5D5-0FA71B49F38A}</fieldID>
          <fieldID desc="Styles2_Column">{2D4E72B7-FA79-4E5C-9362-0D5232222668}</fieldID>
          <fieldID desc="Styles3_Column">{0A33A8F0-DC86-4E07-8562-624002BA5983}</fieldID>
          <fieldID desc="Styles4_Column">{D59DE611-1A2D-4B7F-A24F-E88AF212C3C6}</fieldID>
          <fieldID desc="Styles5_Column">{FB8855B5-52B7-4DE8-A265-C6ADEE57CB35}</fieldID>
          <fieldID desc="Styles6_Column">{BC12416B-FE13-4B48-9D30-60C43BF28B1D}</fieldID>
          <fieldID desc="Styles7_Column">{1B799123-CF19-425E-9EFC-53DCAE3C3722}</fieldID>
          <fieldID desc="Styles8_Column">{2995883A-CC0C-415E-9551-022CC4215FBA}</fieldID>
          <fieldID desc="Styles1_Row">{CB8D0DC2-7D8F-4F11-A795-0FEA5F362609}</fieldID>
          <fieldID desc="Styles2_Row">{B60503AB-99F8-47AA-B000-C909BF99BF1B}</fieldID>
          <fieldID desc="Styles3_Row">{A4D4C24A-7857-420C-94CC-15F16CDBA190}</fieldID>
          <fieldID desc="Styles4_Row">{7C698EA1-F674-45A4-8220-166C356B2660}</fieldID>
          <fieldID desc="Styles5_Row">{ACFBDC15-1939-489E-821F-74BCD6013179}</fieldID>
          <fieldID desc="Styles6_Row">{B290632E-747B-4354-A269-067AE2A18289}</fieldID>
          <fieldID desc="Styles7_Row">{E1A406CC-1006-4B57-BC85-1D233B4C6752}</fieldID>
          <fieldID desc="Styles8_Row">{D8BE02BC-B145-446F-AE06-D813E5C74533}</fieldID>
        </gridParametersDialogFields>
      </grid>
    </experienceAccelerator>
    <pipelines>
      <getContentEditorFields>
        <processor type="Sitecore.XA.Feature.PageStructure.Pipelines.GetContentEditorFields.LimitSplitterParameters, Sitecore.XA.Feature.PageStructure" />
      </getContentEditorFields>      
      <getChromeData>
          <processor patch:after="*[@type='Sitecore.Pipelines.GetChromeData.GetColumnPlaceholderChromeData, Sitecore.Kernel']" type="Sitecore.XA.Feature.PageStructure.Pipelines.GetChromeData.GetColumnPlaceholderChromeData, Sitecore.XA.Feature.PageStructure" resolve="true"/>
          <processor patch:after="*[@type='Sitecore.Pipelines.GetChromeData.GetColumnPlaceholderChromeData, Sitecore.Kernel']" type="Sitecore.XA.Feature.PageStructure.Pipelines.GetChromeData.GetColumnPlaceholderButtons, Sitecore.XA.Feature.PageStructure" resolve="true"/>
          <processor patch:after="*[@type='Sitecore.Pipelines.GetChromeData.GetColumnPlaceholderChromeData, Sitecore.Kernel']" type="Sitecore.XA.Feature.PageStructure.Pipelines.GetChromeData.GetRowPlaceholderChromeData, Sitecore.XA.Feature.PageStructure" resolve="true"/>
          <processor patch:after="*[@type='Sitecore.Pipelines.GetChromeData.GetColumnPlaceholderChromeData, Sitecore.Kernel']" type="Sitecore.XA.Feature.PageStructure.Pipelines.GetChromeData.GetRowPlaceholderButtons, Sitecore.XA.Feature.PageStructure" resolve="true"/>
      </getChromeData>
      <decorateRendering>
        <processor type="Sitecore.XA.Feature.PageStructure.Pipelines.DecorateRendering.GetGridRowContainerClass, Sitecore.XA.Feature.PageStructure" patch:before="*[1]" resolve="true" />
      </decorateRendering>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Feature.PageStructure.Providers.IColumnSplitterConfigurationProvider, Sitecore.XA.Feature.PageStructure" implementationType="Sitecore.XA.Feature.PageStructure.Providers.ColumnSplitterConfigurationProvider, Sitecore.XA.Feature.PageStructure" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Feature.PageStructure.Providers.IRowSplitterConfigurationProvider, Sitecore.XA.Feature.PageStructure" implementationType="Sitecore.XA.Feature.PageStructure.Providers.RowSplitterConfigurationProvider, Sitecore.XA.Feature.PageStructure" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Feature.PageStructure.Services.ISplittersGridParametersService, Sitecore.XA.Feature.PageStructure" implementationType="Sitecore.XA.Feature.PageStructure.Services.SplittersGridParametersService, Sitecore.XA.Feature.PageStructure" lifetime="Singleton"/>
    </services>
    <commands>
      <command name="webedit:splitterextend" type="Sitecore.XA.Feature.PageStructure.Commands.SplitterExtend, Sitecore.XA.Feature.PageStructure"/>
      <command name="webedit:splittershrink" type="Sitecore.XA.Feature.PageStructure.Commands.SplitterShrink, Sitecore.XA.Feature.PageStructure"/>
        <command name="webedit:removeselectedplaceholder" type="Sitecore.XA.Feature.PageStructure.Commands.RemoveSelectedPlaceholder, Sitecore.XA.Feature.PageStructure"/>
        <command name="webedit:addnewplaceholderafter" type="Sitecore.XA.Feature.PageStructure.Commands.AddNewPlaceholderAfter, Sitecore.XA.Feature.PageStructure"/>
        <command name="webedit:moveleftselectedplaceholder" type="Sitecore.XA.Feature.PageStructure.Commands.MoveBackwardSelectedPlaceholder, Sitecore.XA.Feature.PageStructure"/>
        <command name="webedit:moverightselectedplaceholder" type="Sitecore.XA.Feature.PageStructure.Commands.MoveForwardSelectedPlaceholder, Sitecore.XA.Feature.PageStructure"/>
    </commands>
  </sitecore>
</configuration>

