<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the integration with Layout Service module.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- DEFAULT DEVICE ID
           The ID of default Sitecore device.
      -->
      <setting name="Sitecore.XA.Feature.LayoutServices.Integration.DefaultDeviceId" value="{FE5D7FDF-89C0-4D99-9AA3-B5FBD009C9F3}" />
      <!-- PAGE LAYOUT JSON RENDERING ID
           The ID of rendering used to render Layout Services content.
      -->
      <setting name="Sitecore.XA.Feature.LayoutServices.Integration.PageLayoutJsonRenderingId" value="{AFA8325E-9653-4E88-8839-1777A56B5FB1}" />
    </settings>
    <experienceAccelerator>
      <layoutServiceIntegration>
        <ignoredPlaceholders>
          <placeholder>head/sxa-metadata-partial-design</placeholder>
          <placeholder>body-top</placeholder>
          <placeholder>body-bottom</placeholder>
        </ignoredPlaceholders>
        <ignoredRenderings>
          <rendering>PartialDesign Dynamic Placeholder</rendering>          
        </ignoredRenderings>
      </layoutServiceIntegration>
    </experienceAccelerator>
    <pipelines>
      <mvc.getXmlBasedLayoutDefinition>
        <processor type="Sitecore.XA.Feature.LayoutServices.Integration.Pipelines.GetXmlBasedLayoutDefinition.InjectLayoutServiceRendering, Sitecore.XA.Feature.LayoutServices.Integration" patch:before="*[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.GetXmlBasedLayoutDefinition.SetLayoutContext, Sitecore.Mvc.ExperienceEditor']" resolve="true" />
      </mvc.getXmlBasedLayoutDefinition>
    </pipelines>
    <layoutService>
      <configurations>
        <config name="SXA">
          <rendering type="Sitecore.XA.Feature.LayoutServices.Integration.RenderingConfiguration, Sitecore.XA.Feature.LayoutServices.Integration">
            <placeholdersResolver type="Sitecore.XA.Feature.LayoutServices.Integration.PlaceholderResolvers.FlattenedPlaceholdersResolver, Sitecore.XA.Feature.LayoutServices.Integration" />
            <itemSerializer type="Sitecore.LayoutService.Serialization.ItemSerializers.DefaultItemSerializer, Sitecore.LayoutService" resolve="true" />
            <renderingContentsResolver type="Sitecore.LayoutService.ItemRendering.ContentsResolvers.RenderingContentsResolver, Sitecore.LayoutService" />
          </rendering>
          <serialization type="Sitecore.LayoutService.Configuration.DefaultSerializationConfiguration, Sitecore.LayoutService">
            <transformer type="Sitecore.XA.Feature.LayoutServices.Integration.Transformations.BasicLayoutTransformer, Sitecore.XA.Feature.LayoutServices.Integration" />
          </serialization>
        </config>
      </configurations>
    </layoutService>
  </sitecore>
</configuration>