<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file enables and configures the ContentTokens feature.

This feature allows you to create a centrally managed repository of text variables that you can embed in Text and Rich Text fields. 

When rendered, these fields display the content of the variable that you specified. This enables you to store and reuse messages and numbers from the repository. 
If you change and publish a variable, the value is automatically propagated across all the pages that use this variable.

To disable this file, change its extension to ".disabled".

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor patch:after="*[@type='Sitecore.Pipelines.RenderField.GetDocxFieldValue, Sitecore.Kernel']" type="Sitecore.XA.Feature.ContentTokens.Pipelines.RenderField.RenderContentToken, Sitecore.XA.Feature.ContentTokens" resolve="true" />
      </renderField>
    </pipelines>
    <clientscripts>
      <htmleditor>
        <script src="/sitecore/shell/Controls/Rich Text Editor/Insert Content Token Commands.js" language="JavaScript"/>
      </htmleditor>
    </clientscripts>
  </sitecore>
</configuration>

