<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file enables and configures the Context feature.

Renderings from the Context feature provide access to site and language contexts.

To disable this file, change its extension to ".disabled".

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
  </sitecore>
</configuration>

