<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file enables and configures the Sticky Notes feature.

An sticky notes is a small note that can be pinned to a rendering. Sticky Notes can be very helpful when users want to share information with coworkers.

To disable this file, change its extension to ".disabled".

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="webedit:newstickynote" type="Sitecore.XA.Feature.StickyNotes.Commands.NewStickyNote, Sitecore.XA.Feature.StickyNotes"/>
    </commands>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" >
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <exclude hint="list:AddExcludedField">
              <StickyNotes>{BBA9B434-61A5-438E-8066-FC69CD72BD6D}</StickyNotes>
            </exclude>
          </documentOptions>
        </defaultSolrIndexConfiguration>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <exclude hint="list:AddExcludedField">
              <StickyNotes>{BBA9B434-61A5-438E-8066-FC69CD72BD6D}</StickyNotes>
            </exclude>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <pipelines>
      <mvc.getXmlBasedLayoutDefinition>
        <processor type="Sitecore.XA.Feature.StickyNotes.Pipelines.GetXmlBasedLayoutDefinition.AddStickyNotesRendering, Sitecore.XA.Feature.StickyNotes" resolve="true" />
      </mvc.getXmlBasedLayoutDefinition>
      <getChromeData>
        <processor type="Sitecore.XA.Feature.StickyNotes.Pipelines.GetChromeData.AddStickyNotesButton, Sitecore.XA.Feature.StickyNotes" resolve="true"/>
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>