<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Media feature.

This feature contains renderings such as Image, Gallery, and Video that are used to display multimedia content.
Other renderings like File List can generate output that consists of a list of datasource items that are files. 

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  MEDIA - REQUEST EXTENSION
            The extension to use in media request URLs.
            If the value is not set, the Extension field of the individual media items will be used (JPG, GIF, and so on).
            Default value: "ashx"
      -->
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <!--  MEDIA RESPONSE - CACHEABILITY
            The <see cref="HttpCacheability">cacheability</see> to use in media response headers.
            Possible values: NoCache, Private, Public, Server, ServerAndNoCache, ServerAndPrivate
            Default value: Private
      -->
      <setting name="MediaResponse.Cacheability" value="private">
        <patch:attribute name="value">public</patch:attribute>
      </setting>
    </settings>
    <events>
      <event name="item:saving">
        <handler type="Sitecore.XA.Feature.Media.EventHandlers.EnsureImageCaptionProcessor, Sitecore.XA.Feature.Media" method="OnItemSaving" />
      </event>
    </events>
    <mediaLibrary>
      <mediaTypes>
        <mediaType extensions="ogv">
          <mimeType>video/ogg</mimeType>
          <forceDownload>false</forceDownload>
        </mediaType>
        <mediaType extensions="mp4">
          <mimeType>video/mp4</mimeType>
          <forceDownload>false</forceDownload>
        </mediaType>
        <mediaType extensions="webm">
          <mimeType>video/webm</mimeType>
          <forceDownload>false</forceDownload>
        </mediaType>
      </mediaTypes>
    </mediaLibrary>
    <services>
        <register serviceType="Sitecore.XA.Feature.Media.Services.IMediaItemService, Sitecore.XA.Feature.Media" implementationType="Sitecore.XA.Feature.Media.Services.MediaItemService, Sitecore.XA.Feature.Media" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>

