<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Taxonomy feature.

A taxonomy is a hierarchical structure that you can use to identify and organize information. In the Sitecore Experience Platform, you can use taxonomies to classify marketing activities, such as campaigns, goals, and events.
This feature contains two renderings Tag Cloud and Tag List, which can be used to display lists of tags.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- GLOBAL TAGS REPOSITORY
                ID of the item under which the global tags are stored. 
            -->
            <setting name="XA.Feature.Taxonomy.GlobalTagsRepository" value="{9E295C0E-FDBA-4E0D-836B-9F5973931C0C}"/>

            <!-- DEFAULT TAGS FIELD NAME
                Default name of the tags field in the search index.
            -->
            <setting name="XA.Feature.Taxonomy.DefaultTagsFieldName" value="sxatags"/>
        </settings>
        <pipelines>
            <speak.client.resolveScript>
                <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
                    <sources hint="raw:AddSource">
                        <source folder="/sitecore/shell/client/Sitecore/ExperienceAccelerator/ExperienceEditor/Taxonomy" deep="true" category="Taxonomy" pattern="*.js" />
                    </sources>
                </processor>
            </speak.client.resolveScript>
            <resolveSearchQueryTokens>
                <processor type="Sitecore.XA.Feature.Taxonomy.Pipelines.ResolveSearchQueryTokens.TaggedTheSameAsCurrentPage, Sitecore.XA.Feature.Taxonomy" resolve="true" />
                <processor type="Sitecore.XA.Feature.Taxonomy.Pipelines.ResolveSearchQueryTokens.TaggedWithAtLeastOneTagFromCurrentPage, Sitecore.XA.Feature.Taxonomy" resolve="true" />
            </resolveSearchQueryTokens>
            <resolveBoostingQuery>
                <processor type="Sitecore.XA.Feature.Taxonomy.Pipelines.ResolveBoostingQuery.ResolvePagesTaggedTheSameRule, Sitecore.XA.Feature.Taxonomy" resolve="true" />
            </resolveBoostingQuery>
        </pipelines>
        <services>
            <register serviceType="Sitecore.XA.Feature.Taxonomy.Repository.ISiteTagRepository, Sitecore.XA.Feature.Taxonomy" implementationType="Sitecore.XA.Feature.Taxonomy.Repository.SiteTagRepository, Sitecore.XA.Feature.Taxonomy" lifetime="Transient"/>
            <register serviceType="Sitecore.XA.Feature.Taxonomy.ITaxonomyContext, Sitecore.XA.Feature.Taxonomy" implementationType="Sitecore.XA.Feature.Taxonomy.TaxonomyContext, Sitecore.XA.Feature.Taxonomy" lifetime="Singleton"/>
        </services>
        <dataviews>
            <dataview name="SxaTag" Parameters="" assembly="Sitecore.XA.Feature.Taxonomy" type="Sitecore.XA.Feature.Taxonomy.Views.TagDataView"/>
        </dataviews>
        <controlSources>
            <source patch:before="*[@namespace='Sitecore.Shell.Applications.ContentEditor']" mode="on" namespace="Sitecore.XA.Feature.Taxonomy.FieldTypes" assembly="Sitecore.XA.Feature.Taxonomy" prefix="content"/>
        </controlSources>
    </sitecore>
</configuration>

