<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.LayoutService.Mvc.Pipelines.Initialize.RegisterRoutes, Sitecore.LayoutService.Mvc"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                   resolve="true" />
      </initialize>
      <initializeTracker>
        <processor type="Sitecore.LayoutService.Mvc.Pipelines.InitializeTracker.SetUrlFromRouteData, Sitecore.LayoutService.Mvc"
                   patch:after="processor[@type='Sitecore.Analytics.Pipelines.InitializeTracker.CreatePage, Sitecore.Analytics']"
                   resolve="true" />
      </initializeTracker>
      <httpRequestBegin>
        <processor type="Sitecore.LayoutService.Mvc.Pipelines.HttpRequestBegin.SkipContextItemResolutionWhenLayoutServiceRequest, Sitecore.LayoutService.Mvc"
                   resolve="true"
                   patch:before="processor[contains(@type, 'ItemResolver')]"/>
      </httpRequestBegin>
      <mvc.requestBegin>
        <processor type="Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.DetermineTrackerEnabled, Sitecore.LayoutService.Mvc"
                   patch:after="processor[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']"
                   resolve="true" />
        <processor type="Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc"
                   patch:before="processor[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']"
                   resolve="true" />
      </mvc.requestBegin>
    </pipelines>
    <services>
      <configurator type="Sitecore.LayoutService.Mvc.RegisterDependencies, Sitecore.LayoutService.Mvc" />
    </services>
  </sitecore>
</configuration>