<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Dynamic Placeholders foundation module.

This foundation module provides backend support for multiple placeholders and therefore for complex page layouts. 
Normally you could not place multiple placeholder-generating renderings with the same name inside a single placeholder. 
This foundation module solves that problem by supporting dynamic placeholders.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <processPresentation>
                <processor type="Sitecore.XA.Foundation.DynamicPlaceholders.Pipelines.PresentationProcessing.ProcessDynamicRenderings, Sitecore.XA.Foundation.DynamicPlaceholders"/>
            </processPresentation>
        </pipelines>
    </sitecore>
</configuration>

