<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the Multisite foundation module on CD instances.

The multitenant nature of the SXA architecture means that clients can run multiple microsites along with their main websites on a single instance of Sitecore. 
Additionally each tenant is divided into sites allowing for entire customer journeys to be completed in various languages either through one-to-one translated versions (native Sitecore language support) or an internationalisation model whereby a separate site map exists for different languages.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="ContentDelivery">
    <siteManager defaultProvider="sitecore">
      <providers>
        <add name="sxa">
	        <patch:attribute name="database">web</patch:attribute>
	    </add>
      </providers>
    </siteManager>
  </sitecore>
</configuration>

