<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file enables and configures the Composites feature.

A composite rendering displays a list of items. Each of these items defines how it should be displayed. Each item has its own layout and it can be designed separately in the Experience Editor. 
Whenever a composite rendering is rendered on a page, it queries each item and pulls the data and the presentation from there. This allows you to build very complex layouts.

To disable this file, change its extension to ".disabled".

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <getChromeData>
                <processor patch:before="*[@type='Sitecore.XA.Foundation.Editing.Pipelines.GetChromeData.GetMvcPlaceholderChromeData, Sitecore.XA.Foundation.Editing']" type="Sitecore.XA.Feature.Composites.Pipelines.GetChromeData.EnableEditingOnCompositeItems, Sitecore.XA.Feature.Composites" resolve="true" />
            </getChromeData>
            <copyGlobalDatasource>
                <processor patch:before="*[1]" type="Sitecore.XA.Feature.Composites.Pipelines.CopyGlobalDatasource.ResolveContextItem, Sitecore.XA.Feature.Composites" resolve="true" />
            </copyGlobalDatasource>
            <createAutoDatasource>
                <processor patch:after="*[@type='Sitecore.XA.Foundation.LocalDatasources.Pipelines.CreateAutoDatasource.ResolveContextItem, Sitecore.XA.Foundation.LocalDatasources']" type="Sitecore.XA.Feature.Composites.Pipelines.CreateAutoDatasource.GetCompositeContextItem, Sitecore.XA.Feature.Composites" resolve="true" />
            </createAutoDatasource>
            <getRenderingDatasource>
                <processor patch:after="*[@type='Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.AddPageDataFolder, Sitecore.XA.Foundation.LocalDatasources']" type="Sitecore.XA.Feature.Composites.Pipelines.GetRenderingDatasource.AddCompositePageDataFolder, Sitecore.XA.Feature.Composites" resolve="true" />
            </getRenderingDatasource>
        </pipelines>
    </sitecore>
</configuration>